{%extends "articles/base_layout.html" %}
{% load static %}
{% block title %}Create or update article{% endblock title %}
{% block content %}
<h1>Create or update article</h1>
<div class = "container">
    <div class ="row g-4 justify-content-center">
        <div class = "col-md-8 col-lg-6">
            <form class = "form" method = "post" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type = "submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}