{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <div class="navigation">
            <a href="/articles/">
                <img src="{% static '/img/logo.png' %}" alt="logo">
            </a>
            {% for element in articles %}
            <a href="{% url 'article_detail' slug=element.slug %}">
                {{ element.title }}
            </a>
            {% endfor %}
            
            {% if user.is_authenticated %}
            <form class="form_logout" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href = "{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock content %}

</body>

</html>